<h2>Detalles Parcela</h2>
<form action="#" method="post" class="user-form">
    <div class="flex">
        <div style="flex-direction: column;">
            <div class="container">
                <h1>Propietarios</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Participacion</th>
                            <th scope="col">Fecha de alta</th>
                            <th scope="col">Fecha de modificación</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuariosParcela">
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido1 }} {{ usuario.apellido2 }}</td>
                            <td>{{ usuario.participacion }}</td>
                            <td>{{ usuario.fechaAlta | date:'dd/MM/yyyy' }}</td>
                            <td>{{ usuario.fechaModificacion | date:'dd/MM/yyyy' }}</td>
                            <td>
                                <button mat-button>
                                    <mat-icon>more_horiz</mat-icon>
                                    <span>Ver opciones</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex" *ngIf="parcelaConstruccion?.referenciaCatastral">
                <div class="form-header">
                    <h1>Datos</h1>
                    <div class="form-group">           
                        <div><span class="label" style="font-weight: bold;">Referencia catastral:</span> <span class="label">{{ parcelaConstruccion?.referenciaCatastral }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Uso principal:</span> <span class="label">{{ parcelaConstruccion?.usoPrincipal }}</span></div> 
                        <div><span class="label" style="font-weight: bold;">Escalera:</span> <span class="label">{{ parcelaConstruccion?.escalera }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Planta:</span> <span class="label">{{ parcelaConstruccion?.planta }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Puerta:</span> <span class="label">{{ parcelaConstruccion?.puerta }}</span></div>
                    </div>
                </div>
                <div class="form-header">
                    <h1>Características</h1>                               
                    <div class="form-group">
                        <div><span class="label" style="font-weight: bold;">Tipo reforma:</span> <span class="label">{{ parcelaConstruccion?.tipoReforma }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Fecha reforma:</span> <span class="label">{{ parcelaConstruccion?.fechaReforma }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Superficie:</span> <span class="label">{{ parcelaConstruccion?.superficie }} m2</span></div>
                        <div><span class="label" style="font-weight: bold;">Fecha de alta:</span> <span class="label">{{ parcelaConstruccion?.fechaAlta | date:'dd/MM/yyyy' }}</span></div>
                        <div *ngIf="parcelaConstruccion?.fechaModificacion"><span class="label" style="font-weight: bold;">Fecha de modificación:</span><span class="label">{{ parcelaConstruccion?.fechaModificacion | date:'dd/MM/yyyy' }}</span></div>
                        <div *ngIf="parcelaConstruccion?.fechaBaja"><span class="label" style="font-weight: bold;">Fecha de baja:</span> <span class="label">{{ parcelaConstruccion?.fechaBaja | date:'dd/MM/yyyy' }}</span></div>
                    </div>      
                </div>
            </div>
            <div *ngIf="parcela?.referenciaCatastral" style="display: flex; width: fit-content; height: fit-content;">
                <div class="form-header">
                    <h1>Datos</h1>
                    <div class="form-group">           
                        <div><span class="label" style="font-weight: bold;">Referencia catastral:</span> <span class="label">{{ parcela?.referenciaCatastral }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Polígono:</span> <span class="label">{{ parcela?.poligono }}</span></div> 
                        <div><span class="label" style="font-weight: bold;">Parcela:</span> <span class="label">{{ parcela?.parcela }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Paraje:</span> <span class="label">{{ parcela?.paraje }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Clase:</span> <span class="label">{{ parcela?.clase }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Uso principal:</span> <span class="label">{{ parcela?.usoPrincipal }}</span></div>
                    </div>
                </div>
                <div class="form-header">
                    <h1>Características</h1>                               
                    <div class="form-group">
                        <div><span class="label" style="font-weight: bold;">Superficie (m2):</span> <span class="label">{{ parcela?.superficie }} m2</span></div>
                        <div><span class="label" style="font-weight: bold;">Valor del suelo:</span> <span class="label">{{ parcela?.valorSuelo }}</span></div> 
                        <div><span class="label" style="font-weight: bold;">Valor construcción:</span> <span class="label">{{ parcela?.valorConstruccion }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Valor catastral:</span> <span class="label">{{ parcela?.valorCatastral }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Año valor:</span> <span class="label">{{ parcela?.anoValor }}</span></div>
                        <div><span class="label" style="font-weight: bold;">Fecha de alta:</span> <span class="label">{{ parcela?.fechaAlta | date:'dd/MM/yyyy' }}</span></div>
                        <div *ngIf="parcela?.fechaModificacion"><span class="label" style="font-weight: bold;">Fecha de modificación:</span><span class="label">{{ parcela?.fechaModificacion | date:'dd/MM/yyyy' }}</span></div>
                        <div *ngIf="parcela?.fechaBaja"><span class="label" style="font-weight: bold;">Fecha de baja:</span> <span class="label">{{ parcela?.fechaBaja | date:'dd/MM/yyyy' }}</span></div>
                    </div>       
                </div>
            </div>
            <div class="container" *ngIf="parcela?.referenciaCatastral">
                <h1>Subparcelas</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Subparcela</th>
                            <th scope="col">Cultivo</th>
                            <th scope="col">Intensidad</th>
                            <th scope="col">Superficie</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subparcela of subparcelasInfo">
                            <td>{{ subparcela.subparcela }}</td>
                            <td>{{ subparcela.cultivo }}</td>
                            <td>{{ subparcela.intensidad }}</td>
                            <td>{{ subparcela.superficie }} m2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
        <div class="div-buttons">
            <div style="display: flex;">
                <button mat-raised-button class="edit-button" routerLink="/dashboard/editar-parcela">Editar</button>
                <button mat-raised-button class="cancel-button" routerLink="/dashboard/home">Cancelar</button>
            </div>            
            <button mat-button (click)="actualizarDatos()" style="width: 100px; background-color: #00796b; color: white; margin-top: 10px">
                <mat-icon>delete</mat-icon>
                <span>Actualizar datos Catastro</span>
            </button>
        </div>
    </div>   
</form>
