<h2>Añadir movimiento</h2>
<form action="#" method="post" class="user-form">
    <div style="display: block; width: 100%;">
        <div class="flex">
            <div class="form-header">
                <h1>Introduce los siguientes datos</h1>
                <div class="form-group">
                    <label for="tipo">Tipo de movimiento:</label>
                    <select id="tipo" name="tipo">
                        <option value="ingreso">Ingreso</option>
                        <option value="gasto">Gasto</option>
                    </select> 

                    <label for="concepto">Concepto:</label>
                    <input type="text" id="concepto" name="concepto" required>
    
                    <label for="importe">Importe:</label>
                    <input type="number" id="importe" name="importe" required>

                    <div class="file-upload">
                        <label for="documento" class="file-upload-label">Subir factura o documento</label>
                        <input type="file" id="documento" name="documento" class="file-upload-input" (change)="onFileSelected($event)">
                        <span id="file-name" class="file-name">No se ha seleccionado ningún archivo</span>
                    </div>
                </div>        
            </div>
            <div class="div-buttons">
                <button mat-raised-button class="create-button" (click)="guardar()">Guardar</button>
                <button mat-raised-button class="cancel-button" routerLink="/dashboard/home">Cancelar</button>
            </div>
        </div>                              
    </div>   
</form>