.content.mat-elevation-z8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 400px; /* Ajusta según sea necesario */
    width: 100%; /* Ajustar al 100% del contenedor */
    height: 100%; /* Ajustar al 100% del contenedor */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-form label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .user-form input[type="text"],
  .user-form input[type="email"],
  .user-form input[type="tel"],
  .user-form input[type="password"],
  .user-form input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .user-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  