.user-form {
    height: calc(100% - 32px); 
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(238, 238, 237);
}

h2 {
    text-align: center;
    color: black;
    background-color: #0770fa;
    border-radius: 10px;
    margin: unset;
    width: 100%;
}

.fields{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.div-input{
    margin-right: 30px;
    margin-top: 10px;
}

.user-form label {
    flex-basis: 100%;
    font-size: 0.8rem;
    color: hsl(0, 0%, 20%);
    width: fit-content;
    margin-right: 20px;
}

.user-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.8rem;
    margin-bottom: 10px;
    width: 300px; 
    justify-self: end;
}

.div-buttons{
    position: absolute;
    left: 75%;
    width: fit-content, block;
    margin-top: 10px;
    
}

.create-button{
    width: 100px;
    background-color: #0770fa;
    color: white;
}
  
.cancel-button{
    width: 100px;
    background-color: red;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 1325px) {
    .user-form{
        flex-direction: column;
        align-items: left;
    }

    .fields{
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    .user-form input {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 0.8rem;
        margin-bottom: 10px;
        width: 100%;
    }

    .div-buttons{
        width: fit-content;
        height: fit-content;
        position: inherit;
    }
    
    .create-button{
        background-color: #0770fa;
        color: white;
    }
      
    .cancel-button{
        background-color: red;
        color: black;
    }  
}