<h2 *ngIf="finca?.fechaBaja === null">Detalles Finca</h2>
<h2 *ngIf="finca?.fechaBaja !== null">Detalles Finca Inactiva</h2>
<form action="#" method="post" class="user-form">
    <div class="flex">
        <div style="flex-direction: column;">
            <div class="container">
                <h1 style="color: #00796b;">Información</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Onzas</th>
                            <th scope="col">Comunidad</th>
                            <th scope="col">Provincia</th>
                            <th scope="col">Municipio</th>
                            <th scope="col">Fecha de alta</th>
                            <th scope="col">Fecha de modificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{ finca?.nombre }}</td>
                        <td>{{ finca?.onzas }}</td>
                        <td>{{ comunidad?.nombre }} ({{ comunidad?.id }})</td>
                        <td>{{ provincia?.nombre }} ({{ provincia?.id }})</td>
                        <td>{{ municipio?.nombre }} ({{ municipio?.idMunicipio }})</td>
                        <td>{{ finca?.fechaAlta | date:'dd/MM/yyyy' }}</td>
                        <td>{{ finca?.fechaModificacion | date:'dd/MM/yyyy' }}</td>
                    </tbody>
                </table>
            </div>
            <div style="display: flex;">
                <div class="container" *ngIf="(parcelas && parcelas.length > 0) || ((rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null)">
                    <h1 *ngIf="finca?.fechaBaja === null" style="color: #00796b;">
                        Parcelas
                        <button *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null" mat-button routerLink="/dashboard/crear-parcela" style="margin-left: 20px; width: 100px; background-color: #00796b; color: white;">
                            <mat-icon>add</mat-icon>
                            <span>Añadir</span>
                        </button>
                    </h1>
                    <table class="table table-striped" *ngIf="(parcelas && parcelas.length > 0)">
                        <thead>
                            <tr>
                                <th scope="col">Referencia catastral</th>
                                <th scope="col" *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let parcela of parcelas">
                                <td routerLink="/dashboard/detalles-parcela/{{parcela}}" class="click">{{ parcela }} </td>
                                <td *ngIf="rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR'">
                                    <button mat-button (click)="darBajaParcela(parcela)" style="width: 100px; background-color: #00796b; color: white; margin-left: 20px">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                    </button>
                                </td>                               
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container" *ngIf="parcelasBaja && parcelasBaja.length > 0">
                    <h1 style="color: rgb(184, 5, 5);">Parcelas dadas de baja</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Referencia catastral</th>
                                <th scope="col" *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let parcela of parcelasBaja">
                                <td routerLink="/dashboard/detalles-parcela/{{parcela}}" class="click">{{ parcela }} </td>
                                <td *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null">
                                    <button mat-button (click)="darAltaParcela(parcela)" style="width: 120px; background-color: #00796b; color: white; margin-left: 20px">
                                        <mat-icon>add</mat-icon>
                                        <span>Dar alta</span>
                                    </button>
                                </td>                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                      
            <div class="container" >
                <h1 *ngIf="finca?.fechaBaja === null" style="color: #00796b;">
                    Usuarios
                    <button *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null" mat-button routerLink="/dashboard/añadir-usuario" style="margin-left: 20px; width: 100px; background-color: #00796b; color: white;">
                        <mat-icon>add</mat-icon>
                        <span>Añadir</span>
                    </button>
                </h1>
                <table class="table table-striped" *ngIf="usuariosFincaInfo && usuariosFincaInfo.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">Nombre y apellidos</th>
                            <th scope="col">Onzas</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Fecha de alta</th>
                            <th scope="col">Fecha de modificación</th>
                            <th scope="col" *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null">Opciones</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuarioFincaInfo of usuariosFincaInfo">
                            <td routerLink="/dashboard/ver-perfil/{{usuarioFincaInfo.idUsuario}}" class="click">{{ usuarioFincaInfo.nombre }} {{ usuarioFincaInfo.apellido1 }} {{ usuarioFincaInfo.apellido2 }} </td>
                            <td>{{ usuarioFincaInfo.onzas }}</td>
                            <td>{{ usuarioFincaInfo.rol }}</td>
                            <td>{{ usuarioFincaInfo.fechaAlta | date:'dd/MM/yyyy' }}</td>
                            <td>{{ usuarioFincaInfo.fechaModificacion | date:'dd/MM/yyyy' }}</td>
                            <td style="display: flex;" *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null">
                                <button mat-button routerLink="/dashboard/editar-usuario-finca/{{usuarioFincaInfo.id}}" style="width: 100px; background-color: #00796b; color: white;">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-button (click)="eliminarUsuarioFinca(usuarioFincaInfo)" style="width: 100px; background-color: #00796b; color: white; margin-left: 20px">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" >
                <h1 *ngIf="usuariosFincaInfoBaja && usuariosFincaInfoBaja.length > 0" style="color: rgb(184, 5, 5);">Usuarios anteriores</h1>
                <table class="table table-striped" *ngIf="usuariosFincaInfoBaja && usuariosFincaInfoBaja.length > 0">
                    <thead>
                        <tr>
                            <th scope="col">Nombre y apellidos</th>
                            <th scope="col">Onzas</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Fecha de alta</th>
                            <th scope="col">Fecha de baja</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuarioFincaInfo of usuariosFincaInfoBaja">
                            <td routerLink="/dashboard/ver-perfil/{{usuarioFincaInfo.idUsuario}}" class="click">{{ usuarioFincaInfo.nombre }} {{ usuarioFincaInfo.apellido1 }} {{ usuarioFincaInfo.apellido2 }} </td>
                            <td>{{ usuarioFincaInfo.onzas }}</td>
                            <td>{{ usuarioFincaInfo.rol }}</td>
                            <td>{{ usuarioFincaInfo.fechaAlta | date:'dd/MM/yyyy' }}</td>
                            <td>{{ usuarioFincaInfo.fechaBaja | date:'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
        <div class="div-buttons">
            <button mat-raised-button class="edit-button" routerLink="/dashboard/editar-finca" *ngIf="(rol === 'SUPERUSUARIO' || rol === 'ADMINISTRADOR') && finca?.fechaBaja === null">Editar</button>
            <button mat-raised-button class="cancel-button" routerLink="/dashboard/home">Volver</button>
        </div>
    </div>   
</form>
