.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
  background: #2bea04;
  color: black;
  align-items: center;
}

mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #c2c4c1;
  color: black;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}

.avatar{
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  margin-top: 8px;
  font-weight: normal;
}

.designation{
  margin-top: 2px;
  font-size: 0.7rem;
  color: black
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon, span, a {
    margin-right: 8px;
    color: black;
  }
}

.content{
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  font-size: 2rem;
  color: lightgray;
}

mat-divider{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
}

mat-sidenav-content{
  height: calc(100vh - 65px);
}

mat-toolbar mat-form-field {
  background: #2bea04; /* Asegúrate de que esto coincida con el fondo de la barra de herramientas */
  border: none; /* Elimina bordes que podrían aparecer */
  color: black;
  width: auto; /* O un tamaño fijo, dependiendo de tu diseño */
  outline: none; /* Elimina el contorno que podría aparecer al hacer clic */
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 25px;
}

mat-select {
  background: #2bea04;
  color: black;
}

mat-option {
  color: black;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #2bea04 !important;
}

::ng-deep .mat-select-panel .mat-option {
  justify-content: center; /* Centrar contenido horizontalmente */
  display: flex;
}