<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <span>AgroPro</span>
    <span style="flex: 1 1 auto;"></span>
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="selectedFinca" (selectionChange)="onFincaChange($event)">
        <mat-option *ngFor="let finca of fincas" [value]="finca.id">{{ finca.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>
</mat-toolbar>
  
<mat-sidenav-container class="example-container">
    <mat-sidenav class="mat-elevation-z8" #sidenav="matSidenav" mode="side" opened>
      <img class="avatar mat-elevation-z8" [src]="fotoPerfilUrl" alt="">
      <h4 class="name">{{ username }}</h4>
      <p class="designation">{{ rol }}</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/dashboard/home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>     
      <button mat-button class="menu-button" [matMenuTriggerFor]="actions">
        <mat-icon>reorder</mat-icon>
        <span>Acciones</span>
      </button>
      <mat-menu #actions="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="user">Usuario</button>
        <button mat-menu-item [matMenuTriggerFor]="finca">Finca</button>
        <button mat-menu-item [matMenuTriggerFor]="movimientos">Movimientos</button>
        <button mat-menu-item [matMenuTriggerFor]="liquidaciones">Liquidaciones</button>
      </mat-menu>
      <mat-menu #user="matMenu">
        <button mat-menu-item routerLink="/dashboard/registrar-usuario">Registrar usuario</button>
        <button mat-menu-item routerLink="/dashboard/listar-usuarios">Listar usuarios</button>
      </mat-menu>
      <mat-menu #finca="matMenu">
        <button mat-menu-item routerLink="/dashboard/crear-finca">Crear Finca</button>
        <button mat-menu-item routerLink="/dashboard/detalles-finca">Ver detalles finca</button>
        <button mat-menu-item routerLink="/dashboard/crear-parcela">Añadir parcela</button>        
      </mat-menu>
      <mat-menu #movimientos="matMenu">
        <button mat-menu-item routerLink="/dashboard/crear-movimiento">Añadir movimiento</button>
        <button mat-menu-item routerLink="/dashboard/listar-movimientos">Listar movimientos</button>
      </mat-menu>
      <mat-menu #liquidaciones="matMenu">
        <button mat-menu-item routerLink="/dashboard/generar-liquidacion">Generar liquidación</button>
        <button mat-menu-item routerLink="/dashboard/listar-liquidaciones">Listar liquidaciones</button>
      </mat-menu>
      <button mat-button class="menu-button" routerLink="/dashboard/ver-perfil/{{idUsuario}}">
        <mat-icon>person</mat-icon>
        <span>Ver perfil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-sidenav>
  
    <mat-sidenav-content >
      <div class="content mat-elevation-z8" style="display: inherit;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  
</mat-sidenav-container>
