<h2>Crear Parcela</h2>
<form action="#" method="post" class="user-form">
    <div style="display: block; width: 100%;">
        <div style="display: flex; width: fit-content; height: fit-content; margin-bottom: 20px; margin-top: 15px; margin-left: 8px;">
            <label style="font-size: 0.9rem; font-weight: bold; margin-top: -4px; margin-left: 15px;" for="tipoParcela">Introduzca el número de propietarios:</label>
            <input style="margin-left: 15px; margin-right: 15px; width: 45%;" name="input-propietarios" min="0" type="number" id="numPropietarios" [(ngModel)]="numeroPropietarios" (change)="generarFormularioPropietarios()" required>
        </div>
        <form [formGroup]="propietariosForm">
            <div formArrayName="propietarios">
                <div *ngFor="let row of propietarioRows; trackBy: trackByFn; let rowIndex = index" class="propietarios" style="display: flex; width: 100%;">
                    <div *ngFor="let propietario of row; let i = index" [formGroupName]="rowIndex * 3 + i" class="propietario" style="padding: 10px;">
                        <div class="form-header">
                            <h1>Usuario {{ rowIndex * 3 + i + 1 }}</h1>
                            <div class="form-group">
                                <label for="usuario{{ rowIndex * 3 + i }}">Usuario:</label>
                                <select id="usuario{{ rowIndex * 3 + i }}" formControlName="usuario" name="usuario{{ rowIndex * 3 + i }}">
                                    <option value="" disabled selected>Seleccione un usuario</option>
                                    <option *ngFor="let usuario of usuariosDisponibles" [value]="usuario.id">{{ usuario.nombre }} {{usuario.apellido1}} {{usuario.apellido2}}</option>
                                </select>
                
                                <label for="participacion{{ rowIndex * 3 + i }}">Participación (%):</label>
                                <input type="number" id="participacion{{ rowIndex * 3 + i }}" formControlName="participacion" name="participacion{{ rowIndex * 3 + i }}" min="0" max="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>            
        <div style="display: flex; width: fit-content; height: fit-content; margin-bottom: 20px; margin-top: 10px; margin-left: 8px;">
            <label style="font-size: 0.9rem; font-weight: bold; margin-top: -4px; margin-left: 15px;" for="tipoParcela">Introduzca el tipo de parcela:</label>
            <select name="tipoParcela" id="tipoParcela" [(ngModel)]="tipoParcela" style="margin-left: 15px; margin-right: 15px; width: 45%;">
                <option value="parcela">Parcela</option>
                <option value="construccion">Construcción</option>        
            </select>
        </div>
        <div class="flex" *ngIf="tipoParcela === 'construccion'">
            <div class="form-header">
                <h1>Datos</h1>
                <div class="form-group">           
                    <label for="referencia">Referencia catastral:</label>
                    <input type="text" id="referenciaC" name="referenciaC" required><br>

                    <label for="uso-principal">Uso principal:</label>
                    <select id="usoPrincipalC" name="usoPrincipalC">
                        <option value="Agrario">Agrario</option>
                    </select> 

                    <label for="escalera">Escalera:</label>
                    <input type="number" id="escaleraC" name="escaleraC">

                    <label for="planta">Planta:</label>
                    <input type="number" id="plantaC" name="plantaC">

                    <label for="puerta">Puerta:</label>
                    <input type="number" id="puertaC" name="puertaC">
                </div>
            </div>
            <div class="form-header">
                <h1>Características</h1>                               
                <div class="form-group">
                    <label for="tipo-reforma">Tipo reforma:</label>
                    <input type="text" id="tipoReformaC" name="tipoReformaC"> 

                    <label for="fecha-reforma">Fecha reforma:</label>
                    <input type="date" id="fechaReformaC" name="fechaReformaC">

                    <label for="superficie">Superficie (m2):</label>
                    <input type="number" id="superficieC" name="superficieC">
                </div>      
            </div>
        </div>
        <div class="flex" *ngIf="tipoParcela === 'parcela'">
            <div class="form-header" style="margin-left: 15px;">
                <h1>Referencia catastral</h1>
                <div class="form-group">           
                    <input type="text" id="referencia" name="referencia" required><br>
                </div>
            </div>
        </div>                                      
    </div>     
    <div class="div-buttons">
        <button mat-raised-button class="create-button" (click)="guardar()">Crear</button>
        <button mat-raised-button class="cancel-button" routerLink="/dashboard/home">Cancelar</button>
    </div>
</form>