<h2>Mapa</h2>
<div class="user-form">
    <div class="flex">
        <div style="margin-top: 15px;">
            <label for="parcela" style="margin-left: 20px; width: fit-content;">Parcela:</label>
            <select style="margin-left: 20px; width: fit-content;" id="parcela" name="parcela" [(ngModel)]="selectedParcela" (change)="onParcelaChange()" required>
                <option *ngFor="let parcela of parcelas" [value]="parcela">{{ parcela }}</option>
            </select>
        </div>       
    </div>
    <google-map height="87%" width="100%" [center]="mapCenter" [zoom]="18.2" [mapTypeId]="mapTypeSatellite" (mapClick)="onMapClick($event)">
        <map-marker [position]="mapCenter"></map-marker>
    </google-map>  
</div>